label {
  display: block;
  font-weigt: bold;
}

.app {
  display: flex;
}

.search {
  margin-right: 2em;
}

.search > div {
  margin-bottom: 1em;
}

input[type="range"],
output {
  vertical-align: middle;
}

output {
  margin-left: .5rem;
  padding: .2rem;
}

.stream-wrap {
  border-left: 1px solid black;
  flex-grow: 1;
  padding-left: 2em;
}

.stream-wrap h4 {
  margin-top: 0;
}

.stream {
  height: 200px;
  overflow: auto;
  width: 100%;
}
